header{
    display: flex;
    align-items: center;
        justify-content: space-between;
}

.logo{
    width: 15em;
}

nav{
    font-family: "Red Hat Text", sans-serif;
    font-size: bold;
}

nav a{
padding: 0.25em;
margin: 0.25em;
color:var(--color-black);
text-decoration: none;

}

nav a.active {
    border-bottom: 4px solid var(--color-purple);
}

.sign-in{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5em;
}
.sign-in a{
    color: var(--color-black);
    text-decoration:none;
    font-family:"Red Hat Text", system-ui;
    font-size: 600;
}

.sign-in-button{
    
}